*.yslog
*.smt2
*.check
imgfifo
imgfifo_*/
llvga_*/
atxfifo_*/
axishdmi_*/
axissprite_*/
axisvga_*/
axisvoverlay_*/
pix2stream_*/
vidstream2pix_*/
vid_histogram_*/
vid_waterfall_r_*/
vid_waterfall_w_*/
