*.yslog
*.smt2
*.check
faxil_slave.v
faxil_master.v
imgfifo*/
llvga*/
atxfifo*/
axishdmi*/
axissprite*/
axisvga_*/
axisvoverlay*/
pix2stream*/
vidstream2pix*/
vid_empty*/
vid_histogram*/
vid_tile*/
vid_trace*/
vid_waterfall_r*/
vid_waterfall_w*/
